<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<p>Edit Product!</p>
<form th:action="@{/edit}" th:object="${productData}" method="post">
    <input hidden type="text" th:field="*{id}"/>
    <p>Name: <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
    </p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p><input type="submit" value="change"/>
</form>
</body>
</html>